[Unit]
Description=The Prometheus monitoring system and time series database.
Documentation=https://github.com/prometheus/node_exporter
After=network.target

[Service]
User=root
ExecStart=/usr/bin/node_exporter 
Restart=on-failure

[Install]
WantedBy=multi-user.target